* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

input {
    display: none;
}

.display {
    width: 100%;
    height: 100vh;
    background: white;
    position: relative;
}

label {
    width: 80px;
    height: 40px;
    border-radius: 999px;
    background: #F3F3F3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

svg {
    width: 20px;
    position: absolute;
}

.sun {
    color: #FFD600;
    opacity: 1;
}

.moon {
    opacity: 0;
    color: white;
}

input[type=checkbox]:checked + .display {
    background: #2C2C2F;
}

input[type=checkbox]:checked + .display label {
    background: #1F1F21;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5) inset;
}

input[type=checkbox]:checked + .display label .circle {
    left: 45px;
    background: #2C2C2F;
}

input[type=checkbox]:checked + .display label .circle .sun {
    opacity: 0;
}

input[type=checkbox]:checked + .display label .circle .moon {
    opacity: 1;
}

label:active .circle {
    width: 35px;
}